@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: hsl(36, 13%, 8%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.main-us .about, .home .hero div .home-titles {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #0D0D0D;
  color: #FFD407;
  padding: 0 30px;
}
header nav div a {
  color: #FFD407;
  text-decoration: none;
  font-size: 1.5rem;
}
header nav div a .logo {
  height: 10vh;
  width: auto;
}
header nav div div ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

footer {
  color: #179045;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 0 100px;
  margin: 100px
}
footer .textoChicoCentro {
  font-size: 1rem;
  text-align: center;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: first baseline;
  align-items: center ;
  gap: 20px;
  list-style: none;
}
footer nav ul li a .rs {
  height: 3vh;
  width: auto;
}

@media (min-width: 568px) and (max-width: 967px) {
  footer {
    flex-wrap: wrap;
    padding: 0 50px;
  }
  footer nav ul li a .rs {
    height: 5vh;
  }
}
@media (min-width: 300px) and (max-width: 567px) {
  footer {
    flex-wrap: wrap;
    padding: 0 25px;
  }
  footer nav ul li a .rs {
    height: 5vh;
  }
} 

.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0;
  padding: 50px;
}
.home .hero {
  display: flex;
}
.home .hero div {
  gap: 50px;
}
.home .hero div .home-titles {
  flex-direction: column;
  text-align: center;
}
.home .hero div .home-titles .texto-destacado {
  font-weight: 800;
  font-size: 1.5rem;
}
.home .hero div .home-titles div {
  font-size: 1.5rem;
}
.home .hero div .home-titles div .btnContacto {
  border: white solid 2px;
  padding: 8px;
  border-radius: 10px;
  background-color: #179045;
  color: #E6DFDC;
  text-decoration: none;
}
.home .hero div .home-titles div .conoceMas {
  padding: 8px;
  border-radius: 10px;
  color: #179045;
  text-decoration: none;
}
.home .hero .hero-img {
  width: 30vw;
  height: auto;
}
.home .home-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 0;
}
.home .home-menu h2 {
  align-self: center;
}
.home .home-menu div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
}
.home .home-menu div .img-home-menu {
  width: 15vw;
  height: auto;
}
@media (min-width: 968px) and (max-width: 1400px) {
  .home .hero {
    flex-direction: column;
    align-items: center;
  }
  .home .hero .hero-img {
    width: 50vw;
  }
  .home .home-menu div .img-home-menu {
    width: 12vw;
  }
}
@media (min-width: 568px) and (max-width: 967px) {
  .home {
    gap: 20px;
  }
  .home .hero {
    flex-direction: column;
  }
  .home .hero .hero-img {
    display: none;
  }
  .home .home-menu div {
    flex-wrap: wrap;
  }
  .home .home-menu div .img-home-menu {
    width: 25vw;
  }
}
@media (min-width: 300px) and (max-width: 567px) {
  .home {
    gap: 20px;
  }
  .home .hero {
    flex-direction: column;
  }
  .home .hero .hero-img {
    display: none;
  }
  .home .home-menu div {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .home .home-menu div .img-home-menu {
    width: 60vw;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.menu-main .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
  padding: 20px;
}
.menu-main .menu .bxcard {
  width: 25vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px;
  text-align: center;
  border: 2px solid #179045;
  border-radius: 20px;
}
.menu-main .menu .bxcard .card-img {
  width: 20vw;
  height: auto;
  border-radius: 25px;
}
.menu-main .menu .bxcard .buy-btn {
  color: #179045;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #179045;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.menu-main .menu .bxcard .buy-btn .buy {
  width: 3vw;
  height: auto;
}
.menu-main .menu .bxcard .buy-btn .rev {
  transform: rotateY(180deg);
}
@media (min-width: 968px) and (max-width: 1400px) {
  .menu-main .menu .bxcard {
    width: 30vw;
  }
  .menu-main .menu .bxcard .card-img {
    width: 25vw;
  }
}
@media (min-width: 568px) and (max-width: 967px) {
  .menu-main .menu .bxcard {
    width: 45vw;
  }
  .menu-main .menu .bxcard .card-img {
    width: 40vw;
  }
}
@media (min-width: 300px) and (max-width: 567px) {
  .menu-main .menu .bxcard {
    width: 90vw;
  }
  .menu-main .menu .bxcard .card-img {
    width: 75vw;
  }
}

.main-us {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.main-us .about {
  padding: 50px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.main-us .about .img-nos {
  width: 50vw;
  height: auto;
  border-radius: 25px;
}
@media (min-width: 968px) and (max-width: 1400px) {
  .main-us .about .img-nos {
    width: 75vw;
  }
}
.main-us .about p {
  font-size: 1.25rem;
}
@media (min-width: 568px) and (max-width: 967px) {
  .main-us {
    padding: 40px;
  }
  .main-us .about .img-nos {
    width: 75vw;
  }
}
@media (min-width: 300px) and (max-width: 567px) {
  .main-us {
    padding: 25px;
  }
  .main-us .about .img-nos {
    width: 75vw;
  }
}

.main-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.main-contacto .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.main-contacto .form input, .main-contacto .form textarea {
  width: 40vw;
  border-radius: 10px;
}
.main-contacto .form div .form-btn {
  margin: 0 20px;
  width: 10vw;
  padding: 5px;
  background-color: #179045;
  color: #0D0D0D;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 20px;
}
@media (min-width: 968px) and (max-width: 1400px) {
  .main-contacto section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 100px;
  }
  .main-contacto .form {
    width: 70vw;
  }
  .main-contacto .form input, .main-contacto .form textarea {
    width: 60vw;
  }
  .main-contacto .form div .form-btn {
    width: 30vw;
  }
}
@media (min-width: 568px) and (max-width: 967px) {
  .main-contacto section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    order: 1;
  }
  .main-contacto .form {
    order: 2;
    width: 80vw;
  }
  .main-contacto .form input, .main-contacto .form textarea {
    width: 75vw;
  }
  .main-contacto .form div .form-btn {
    width: 30vw;
  }
}
@media (min-width: 300px) and (max-width: 567px) {
  .main-contacto h2 {
    text-align: center;
  }
  .main-contacto section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    order: 1;
  }
  .main-contacto section iframe {
    width: 90vw;
    height: 40vh;
  }
  .main-contacto .form {
    order: 2;
    width: 80vw;
  }
  .main-contacto .form input, .main-contacto .form textarea {
    width: 75vw;
  }
  .main-contacto .form div .form-btn {
    width: 30vw;
  }
}
.main-gal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  }
.main-gal h2 {
    text-align: center;
}
.main-sucursal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  }
.main-sucursal h2 {
    text-align: center;
}
.main-sucursal section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
.main-sucursal section iframe {
  margin: 25px 25px;
}